<%= form_tag(statdownload_path(@stat), {:method => :get}) do %>
	<h3 style="margin:1%;"></h3>

	<div class="box box-info">
	  <div class="box-body">
		  <div class="row">
		  	<div class="col-md-12">
          <div class="text-center">
          <%= hidden_field_tag :tab ,value: params[:gender] %>
            <%= submit_tag "Download",format: :xls, class: "btn d_btn btn-success" %>	
            
		  			<%#= link_to   'Print', { :action => "get_lms_final_report", :controller => "user_answers",format: :xls}, :class=> "btn btn-primary",target: '_blank'%>
		  		</div>
		  	</div>
		  </div>
    </div>
  </div>

<% end %>
<table id="datatbl",class="table table-hover">
<thead>
  <tr>
    <th>Dimension </th>
    <th>British Columbia </th>
    <th>HA Total </th>
    <th>HA1 Interior </th>
    <th>HA2 Fraser </th>
    <th>Vancouver Coastal </th>
    <th>HA4 Vancouver Island </th>
    <th>HA5 Northern </th>
  </tr>
</thead>
<tbody>
  <%  @stat.each do |data| %>
    <tr>
      <td><%= data["dimension"] %></td>
      <td><%= data["sum_of_british_columbia"] %></td>
      <td><%= data["sum_of_ha_total"] %></td>
      <td><%= data["sum_of_ha1_interior"] %></td>
      <td><%= data["sum_of_ha2_fraser"] %></td>
      <td><%= data["sum_of_ha3_vancouver_coastal"] %></td>
      <td><%= data["sum_of_ha4_vancouver_island"]%></td>
      <td><%= data["sum_of_ha5_northern"] %></td>
    </tr>
  <% end %>
</tbody>
</table>